
  <style>
      input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#emailButton {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#emailButton:hover {
  background-color: #45a049;
}
  </style>
  <div class="widget-wrap">
    <h3 class="widget-title">Subscribe</h3>
    <div class="widget">
        <h3>Email Alerts:</h3>
      <form>
      <input type="email" id="emailInput" />
      <button id="emailButton" type="button" onclick="OneSignal.setEmail(`${document.getElementById('emailInput').value}`); window.location.reload(true)">Submit</button>
    </form>
    <hr>
    <h3>Push Notifcations:</h3>
    <br>
      <div class='onesignal-customlink-container'></div>
    </div>
  </div>
